@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        background-color: #405d27;
    }

    .content-table {
        border-collapse: collapse;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 0.9em;
        min-width: 400px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
        background-color: #fff5;
    }

        .content-table::-webkit-scrollbar {
            width: 8px 8px 0 0;
            height: 8px 8px 0 0;
        }

        .content-table thead tr {
            background-color: #3e4444;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
            overflow: auto;
        }

            .content-table tbody tr:nth-child(even) {
                background-color: #f0f5f1;
            }

    button {
        background-color: #3e4444;
        color: white;
        padding: 5px 15px;
        border: none;
        cursor: pointer;
    }

    h2, h3 {
        text-align: center;
        font-family: 'Product Sans', sans-serif;
        color: darkslategrey;
        text-shadow: 1px 1px 0.5px grey;
        font-weight: bold;
        transition: top 0.3s ease;
    }  
</style>

<div class="formContainer">
    <h2>Categories</h2> </br>
<div/>
<table class="content-table" >
    <tr>
        <td>CategoryId</td>
        <td>CategoryName</td>
        <td>Description</td>

    </tr>

    @foreach (var c in ViewBag.ListOfCategories)
    {
        <tr>
            <td>@c.CategoryId</td>
            <td>@c.CategoryName</td>
            <td>@c.Description</td>

        </tr>
    }




</table>
